[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "pomcheckr"]
	path = pomcheckr
	url = https://github.com/melissa-wong/pomcheckr
	shallow = true
	registered = true
